* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* topbar */
.topbar {
    display: flex;
    background-color: rgb(19, 22, 75);
    color: white;
    padding: 15px 60px;
    font-size: 18px;
}

.left_topbar {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.right_topbar {
    display: flex;
    text-align: center;
}

.right_topbar a {
    text-decoration: none;
    color: aliceblue;
}

.phone::after {
    content: "|";
    margin: 0 15px;
}

.phone i,
.email i {
    margin: 0 10px;
}

.facebook {
    margin: 0 15px;
}

.follow::after {
    content: "|";
    margin: 0 15px;
}

.sign_in::after {
    content: "/";
    margin: 4px;
}

/* thanh navbar */
.navbar {
    background-color: rgb(250, 250, 250);
    position: sticky;
    top: 0;
    padding: 17px 45px;
    z-index: 1000;

}

.navbar div {
    display: flex;
    text-align: center;
    font-size: 20px;
}

.logo {
    margin: 10px 25px;
    font-size: 15px;
    font-weight: bold;
}

.menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu ul li a:hover {
    color: #FFC600;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}

.menu {
    display: flex;
    justify-content: end;
    text-align: center;
    flex: 2;
    margin: 10px 25px;
}

.profile {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    margin: 12px;
    margin-right: 40px;
}

.profile div :hover {
    color: #FFC600;
}

.sheart {
    margin-right: 15px;
}

.banner {
    position: relative;
    width: 100%;
    height: 200px;
}

.banner img {
    width: 100%;
    height: 100%;
    background-position: center;
}

.layer {
    position: absolute;
    background-color: black;
    inset: 0;
    opacity: 0.65;
}

.banner-content {
    position: absolute;
    color: white;
    inset: 0;
    z-index: 1;
    text-align: center;
    padding: 70px 10px 0px 0px;
}

.banner h1 {
    margin-bottom: 15px;
}

.banner p {
    font-size: small;
}

.featured-courses {
    margin-top: 60px;
    padding: 50px 200px 0px;
}

.courses-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    row-gap: 23px;
    column-gap: 23px;


}

.course-card {
    display: flex;
    flex-direction: column;
    height: 380px;
    border-radius: 6px;
    justify-self: center;
    width: 280px;
    color: #021E40;
    line-height: 25px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.course-thumb {
    height: 50%;
}

.course-thumb img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.course-content {
    background-color: white;
    padding: 25px 25px 25px;
}

.course-content h3 {
    font-weight: bold;
    margin-bottom: 25px;
}

.course-content p {
    color: #8a8a8a;
    font-size: 14px;
    line-height: 20px;
}

.course-meta {
    display: flex;
    font-size: 11px;
    color: #8A8A8A;
    gap: 15px;
    margin-bottom: 15px;
}

.address div {  
    width: 10px;
}
.greyline{
    position: relative;
    background-color: grey;
    height:0.2px;
    width : 100%;
    top: 10%;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 100px 0px;
    gap: 10px;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font: 16px;
    color: #333;
}

.pagination a:hover {
    color: white;
    background-color: #0071DC;
}